*{border: 0; margin: 0;}
body{
	width: 1200px;
	margin: auto;
	font-family: 'Raleway', sans-serif;
}

nav{
	width: 100%;
	height: 41px;
	background-color: black;
	color: white;
}

#logo{
	height: 41px;
	width: 200px;
	font-size: 15px;
	text-transform: uppercase;
	margin-left: 80px;
	margin-top: 12px;
	float: left;
	letter-spacing: 1px;
}

#logo > span{
	color: #24b89d;
	font-weight: bold;
}

#menu{
	float: right;
	width: 400px;
	height: 41px;
	letter-spacing: 1px;
}

ol{
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: inline-block;
	/*position: relative;*/
}

ol a{
	text-decoration: none;
	display: block;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

ol > li{
/*	display: block;*/
	padding-top: 13px;
	font-size: 14px;
	float: left;
	margin-left: 10px;
	text-align: center;
	width: 100px;
}


ol > li > a:hover{
	font-weight: bold;
}

ol > li > ul#addlist {
	list-style-type: none;
	display: none;
	padding: 0;
	margin: 0;
	width: 120px;
	margin-top: 13px;
}

/*ol > li:hover > ul#addlist{
	display: block;
}*/

ol > li > ul#addlist > li{
	background-color: black;
	position: relative;
	width: 120px;
	height: 25px;
	text-align: left;
	padding-top: 8px; 
}



ol > li > ul#addlist> li > a{
	text-decoration: none;	
	color: white;
	padding-left: 12px;
	font-size: 15px;
	letter-spacing: 1px;
	width: 120px;
	height: 25px;
	text-transform: none;

}
ol > li > ul#addlist > li:hover > a{
	font-weight: bold;
}

.arrow-up {
	margin-left: 46px;
	margin-top: 4px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid black;
}


header{
	clear:both;
	width: 100%;
	height: 500px;
	background: rgba(254,254,254,1);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );
}

#leftarrow{
	width: 150px;
	height: 500px;
	float: left;
	margin: auto;
	display: inline-block;
}

#leftarrow > p{
	font-size: 80px;
	color: #24b89d;
	text-align: center;
	padding-top: 180px;
}

#slider {
	width: 400px;
	height: 500px;
	display: inline-block;
	float: left;
	overflow: hidden;
	
}

#slider ul{
	width: 1200px;
	list-style: none;
  	position: relative;
}

#slider li{
	padding-right: 50px;
	float: left;
}

#blackchair{
	padding-top: 100px;
	width: 350px;
	height: 350px;
	margin-left: 10px;
	position: relative;
}

#orange{
	padding-top: 120px;
	position: relative;
} 

#red{
	padding-top: 130px;
	position: relative;
} 

#text{
	padding-top: 90px;
	width: 450px;
	height: 400px;
	float: left;
	margin-left: 30px;

}

#bigtext{
	padding-top: 30px;
	height: 30px;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}

#bigtext > span{
	color: #24b89d;
	font-weight: bold;
}

#text2{
	height: 130px;
	padding-top: 40px;
	text-align: center;
	width: 430px;
	line-height: 1.5em;
}

#button{
	background-color: #24b89d;
	color: white;
	width: 270px;
	height: 60px;
	margin: auto;
	border-radius: 10px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	font-size: 25px;
}

#rightarrow{
	width: 150px;
	height: 500px;
	float: right;
	margin: auto;

}

#rightarrow > p{
	font-size: 80px;
	color: #24b89d;
	text-align: center;
	padding-top: 180px;
}


section{
	clear:both;
	width: 100%;
	height: 360px;
	background-color: white;
}

#box_1, #box_2{
	width: 330px;
	height: 230px;
	margin-top: 30px;
	margin-right: 30px;
	float: left;
	position: relative;
}

#box_1{
	margin-left: 65px;
}

#chair1{
	width: 330px;
	height: 65px;
	z-index: 1;
	position: absolute;
	bottom: 20px;
	left: 0;
	font-weight: bold;
	background-color: rgba(255,255,255, .5);
}

#chair1 > p{
	margin-top: 15px;
	font-size: 16px;
	width: 140px;
	border-bottom: 7px solid #24b89d;
	margin-left: 15px;
}

#chair2{
	width: 330px;
	height: 65px;
	z-index: 1;
	position: absolute;
	bottom: 20px;
	left: 0;
	font-weight: bold;
	background-color: rgba(255,255,255, .5);
}

#chair2 > p{
	margin-top: 15px;
	font-size: 16px;
	width: 140px;
	border-bottom: 7px solid #24b89d;
	margin-left: 15px;
}


#box_section{
	width: 300px;
	height: 220px;
	border: 2px solid #f1f1f1;
	float: left;
	margin-top: 30px;
	padding: 20px;
}

#title{
	font-weight: bold;
	font-size: 17px;
	width: 140px;
	border-bottom: 7px solid #24b89d;
	margin-bottom: 10px;
}

#text3{
	font-size: 14px;
	line-height: 1.5em;
}

main{
	width: 100%;
	height: 720px;
	background-color: #f1f1f1;
}
.title2{
	text-transform: uppercase;
	width: 318px;
	border-bottom: 7px solid #24b89d;
	padding-top: 40px;
	margin-left: 40px;
	font-size: 20px;
	padding-bottom: 5px;
	font-weight: bold;
	color: #575757;
}

.box_main{
	width: 330px;
	height: 500px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 60px;
	margin-right: -30px;
	border: 2px solid #d7d7d7;
	margin-top: 80px;
	background-color: #f9f9f9;
}

.big_dot{
	width: 60px;
	height: 60px;
	border-radius: 35px;
	border: 2px solid #d7d7d7;
	background: white;
	position: absolute;
	top: -45px;
	left: 135px;
}

.small_dot{
	width: 30px;
	height: 30px;
	border-radius: 25px;
	background-color: #c2c2c2;
	position: absolute;
	top: -29px;
	left: 151px;
}

.box_main_title{
	text-transform: uppercase;
	color: #27c7ab;
	margin-top: 30px;
	font-size: 25px;
	text-align: center;
}

.big_circle{
	width: 130px;
	height: 130px;
	border-radius: 70px;
	border: 2px solid #d7d7d7;
	position: absolute;
	left: 100px;
	top: 80px;
	background-color: #fff;
	font-weight: bold;
	color: #c6c6c6;
}

.big_circle_text{
	position: absolute;
	left: 35px;
	top: 25px;
	font-size: 45px;
}

.big_circle_text > span{
	font-size: 18px;
	position: absolute;
	top: -1px;
	left: 52px;
}

.big_circle_text_2{
	position: absolute;
	left: 15px;
	top: 25px;
	font-size: 45px;
}

.big_circle_text_2 > span{
	position: absolute;
	top: 1px;
	left: 68px;
	font-size: 18px;
}

.pln{
	position: absolute;
	top: 50px;
	left: -15px;
	font-size: 18px;
	margin-top: 5px;
}

.pln_2{
	position: absolute;
	top: 50px;
	left: 10px;
	font-size: 18px;
	margin-top: 5px;
}

.first_option{
	margin-top: 190px;
	line-height: 44px;
	text-align: center;
	background-color: #e4e4e4;
	font-size: 24px;
	color: #a6a6a6;
}

.second_option{
	line-height: 44px;
	text-align: center;
	background-color: #f1f1f1;
	font-size: 24px;
	color: #a6a6a6;
}

.third_option{
	line-height: 44px;
	text-align: center;
	background-color: #e4e4e4;
	font-size: 24px;
	color: #a6a6a6;
}

.forth_option{
	line-height: 44px;
	text-align: center;
	background-color: #f1f1f1;
	font-size: 24px;
	color: #a6a6a6;
}

.button_main{
	text-transform: uppercase;
	position: absolute;
	bottom: 20px;
	left: 110px;
	background-color: #27c7ab;
	color: #fff;
	width: 120px;
	height: 25px;
	border-radius: 7px;
	text-align: center;
	padding-top: 7px;
}

.box_main2{
	width: 330px;
	height: 500px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 60px;
	margin-right: -30px;
	border: 2px solid #27c7ab;
	margin-top: 80px;
	background-color: #27c7ab;
}

.box_main2 > .big_dot{
	background-color: #27c7ab;
	border: 2px solid #27c7ab;
}

.box_main2 > .small_dot{
	background-color: white;
}

.box_main2 > .box_main_title{
	color: #fff;
}

.box_main2 > .big_circle{
	color: #27c7ab;
	border: 2px solid #27c7ab;
} 

.box_main2 > .first_option{
	background-color: #fff;
}

.box_main2 > .second_option{
	background-color: #f1f1f1;
}

.box_main2 > .third_option{
	background-color: #fff;
}

.box_main2 > .button_main{
	background-color: #fff;
	color: #27c7ab;
}

article{
	width: 100%;
	height: 460px;
	background-color: #f9f9f9;
}
#leftCol{
	width: 400px;
	height: 460px;
	display: inline-block;
	float: left;
}

#dropdown{
	height: 250px;
	width: 350px;
	display: inline-block;
	margin-top: 60px;
	margin-left: 40px;
	float: left;
}

.dropdowns{
	height: 56px;
	width: 300px;
	color: #dedede;
	background-color: #fff;
	font-size: 30px;
	border: 1px solid #75d6c8;
	margin-bottom: 20px;
	text-align: left;
	line-height: 56px;
	padding-left: 15px;
	position: relative;
}

.dropLabel{
	font-size: 30px;
  	color: #e2e2e2;
  	font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}

.drop{
	background-color: white;
  	border: 1px solid #ccc;
 	width: 299px;
	padding-left: 15px;
	padding-bottom: 10px;
 	list-style: none;
  	margin: 0;
  	left: 0px;
  	z-index: 2;
  	position: absolute;
  	top: 54px;
	display:none;
}

.drop li {
  	margin-top: 8px;
 	cursor: pointer;
  	color: #585858;
  	font-size: 20px;
  	line-height: 25px;
}

.arrow-down{
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #75d6c8;
	display:block;
  	position: absolute;
  	cursor: pointer;
  	right: 14px;
  	top: 20px;
}

#checking{
	clear: both;
	width: 350px;
	height: 60px;
	margin-left: 40px;
}

#check2{
	height: 42px;
	width: 50px;
	background-color: #fff;
	border: 1px solid #75d6c8;
	float: left;
	margin-right: 20px;
}
.check3{
	background-image: url('../images/form_ok.jpg');
}

#transport{
	float: left;
	font-size: 30px;
	padding-top: 5px;
	color: #adb2bd;
	letter-spacing: 1px;
}

#red_chair2{
	float: left;
	margin-top: 150px;
	margin-left: 70px;
	display: inline-block;
}

#rightCol{
	width: 350px;
	height: 460px;
	display: inline-block;
	float: left;
	margin-left: 110px;
}

#summary{
	float: right;
	margin-right: 40px;
	text-align: right;
}

.summary_panel {
  background-color: white;
  width: 85%;
  height: 195px;
  padding: 10px;
  margin-top: 140px;

}

.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
}

.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

#order{
	float: right;
	height: 50px;
	width: 260px;
	background-color: #24b89d;
	margin-top: 20px;
	margin-right: 65px;
	border-radius: 10px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	font-size: 25px;
	color: white;
	font-family: 'Raleway', sans-serif;
}


footer{
	width: 100%;
	height: 650px;
	background-color: white;
}

#form{
	width: 700px;
	height: 450px;
	display: inline-block;
}

#form input {
	width: 615px;
	height: 65px;
	border: 1px solid #a1e6d1;
	margin-left: 40px;
	margin-top: 25px;
	font-size: 35px;
	padding-left: 20px;
	font-family: 'Raleway', sans-serif;
	color: #bebebe;
}

#form textarea {
	width: 615px;
	height: 170px;
	border: 1px solid #a1e6d1;
	margin-left: 40px;
	margin-top: 25px;
	resize: none;
	font-size: 35px;
	padding-left: 20px;
	padding-top: 20px;
	font-family: 'Raleway', sans-serif;
	color: #bebebe;
}

#right_footer{
	height: 450px;
	width: 400px;
	float: right;
	padding-right: 50px;
}

#red_chair{
	vertical-align: top;
	padding-left: 50px;
	float: left;
}

#agree{
	width: 400px;
	height: 80px;
	float: left;
	font-size: 22px;
	margin-left: 10px;
	margin-top: 30px;
	margin-bottom: 10px;
	color: #bebebe;
}

#form_ok{
	float: left;
	border: 1px solid #a1e6d1;
	padding: 10px 4px 3px 0;
	margin-right: 10px;
}

#submit{
	width: 345;
	height: 70;
	background-color: #27c7ab;
	color: #fff;
	float: left;
	font-size: 34px;
	padding: 20px 140px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10px;
	font-family: 'Raleway', sans-serif;
}

#foot_of_footer{
	margin-top: 80px;
	width: 1200px;
	height: 50px;
	color: #9b9b9b;
	letter-spacing: 1px;
	position: relative;
}

#copyright{
	display: inline-block;
	width: 750px;
	float: left;	
}

#social_links{
	float: left;
	display: inline-block;
	width: 200px;
	position: absolute;
	top: -15px;
}

#footer_logo{
	float: right;
	text-transform: uppercase;
	display: inline-block;
	width: 230px;
	font-size: 20px;
}

#footer_logo > span{
	font-weight: bolder;
	display: inline-block;
}