*{border: 0; margin: 0;}
body{
	width: 1200px;
	margin: auto;
	font-family: 'Raleway', sans-serif;
}

nav{
	width: 100%;
	height: 41px;
	background-color: black;
	color: white;
}

#logo{
	height: 41px;
	width: 200px;
	font-size: 15px;
	text-transform: uppercase;
	margin-left: 80px;
	margin-top: 12px;
	float: left;
	letter-spacing: 1px;
}

#logo > span{
	color: #24b89d;
	font-weight: bold;
}

#menu{
	float: right;
	width: 400px;
	height: 41px;
}

ul > li{
	display: inline-block;
	list-style-type: none;
	padding-top: 13px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding-right: 15px;
	padding-left: 25px;
	letter-spacing: 1px;
}

header{
	clear:both;
	width: 100%;
	height: 500px;
	background: rgba(254,254,254,1);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );
}

#leftarrow{
	width: 150px;
	height: 500px;
	float: left;
	margin: auto;
	display: inline-block;
}

#leftarrow > p{
	font-size: 80px;
	color: #24b89d;
	text-align: center;
	padding-top: 180px;
}

#blackchair{
	padding-top: 100px;
	width: 350px;
	height: 350px;
	float: left;
	margin-left: 30px;
	display: inline-block;
}

#text{
	padding-top: 80px;
	width: 450px;
	height: 400px;
	float: left;
	margin-left: 60px;
	display: inline-block;
}

#bigtext{
	padding-top: 30px;
	height: 30px;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}

#bigtext > span{
	color: #24b89d;
	font-weight: bold;
}

#text2{
	height: 130px;
	padding-top: 40px;
	text-align: center;
	width: 430px;
}

#button{
	background-color: #24b89d;
	color: white;
	width: 270px;
	height: 60px;
	margin: auto;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
}

#rightarrow{
	width: 150px;
	height: 500px;
	float: right;
	margin: auto;
	display: inline-block;
}

#rightarrow > p{
	font-size: 80px;
	color: #24b89d;
	text-align: center;
	padding-top: 180px;
}


section{
	clear:both;
	width: 100%;
	height: 360px;
	background-color: white;
}

#box1, #box2{
	width: 330px;
	height: 230px;
	margin-top: 30px;
	margin-right: 30px;
	float: left;
	position: relative;
}

#box1{
	margin-left: 65px;
}

#chair1{
	width: 330px;
	height: 65px;
	z-index: 1;
	position: absolute;
	bottom: -120px;
	left: 130px;
	font-weight: bold;
	background-color: #fff;
	opacity: 0.5;
}

#chair1 > p{
	margin-top: 15px;
	font-size: 16px;
	width: 140px;
	border-bottom: 7px solid #24b89d;
	margin-left: 15px;
}

#chair2{
	width: 330px;
	height: 65px;
	z-index: 1;
	position: absolute;
	bottom: -120px;
	left: 490px;
	font-weight: bold;
	background-color: #fff;
	opacity: 0.5;
}

#chair2 > p{
	margin-top: 15px;
	font-size: 16px;
	width: 140px;
	border-bottom: 7px solid #24b89d;
	margin-left: 15px;
}


#box_section{
	width: 300px;
	height: 220px;
	border: 2px solid #f1f1f1;
	float: left;
	margin-top: 30px;
	padding: 20px;
}

#title{
	font-weight: bold;
	font-size: 17px;
	width: 140px;
	border-bottom: 7px solid #24b89d;
	margin-bottom: 10px;
}

#text3{
	font-size: 14px;
	line-height: 1.5em;
}

main{
	width: 100%;
	height: 720px;
	background-color: #f1f1f1;
}
.title2{
	text-transform: uppercase;
	width: 318px;
	border-bottom: 7px solid #24b89d;
	padding-top: 40px;
	margin-left: 40px;
	font-size: 18px;
	padding-bottom: 5px;
}

.box_main{
	width: 330px;
	height: 500px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 60px;
	margin-right: -30px;
	border: 2px solid #c2c2c2;
	margin-top: 80px;
	background-color: #f9f9f9;
}

.big_dot{
	width: 60px;
	height: 60px;
	border-radius: 35px;
	border: 2px solid #c2c2c2;
	background: white;
	position: absolute;
	top: -45px;
	left: 135px;
}

.small_dot{
	width: 30px;
	height: 30px;
	border-radius: 25px;
	background-color: #c2c2c2;
	position: absolute;
	top: -29px;
	left: 151px;
}

.box_main_title{
	text-transform: uppercase;
	color: #27c7ab;
	margin-top: 30px;
	font-size: 25px;
	text-align: center;
}

.big_circle{
	width: 130px;
	height: 130px;
	border-radius: 70px;
	border: 2px solid #c2c2c2;
	position: absolute;
	left: 100px;
	top: 80px;
	background-color: #fff;
	font-size: 12px;
	font-weight: bold;
	color: #c4c4c4;
}

.big_circle > span{
	font-size: 40px;

}

.first_option{
	margin-top: 190px;
	line-height: 40px;
	text-align: center;
	background-color: #e4e4e4;
	font-size: 18px;
	color: #a6a6a6;
}

.second_option{
	line-height: 40px;
	text-align: center;
	background-color: #f1f1f1;
	font-size: 18px;
	color: #a6a6a6;
}

.third_option{
	line-height: 40px;
	text-align: center;
	background-color: #e4e4e4;
	font-size: 18px;
	color: #a6a6a6;
}

.forth_option{
	line-height: 40px;
	text-align: center;
	background-color: #f1f1f1;
	font-size: 18px;
	color: #a6a6a6;
}

.button_main{
	text-transform: uppercase;
	position: absolute;
	bottom: 20px;
	left: 110px;
	background-color: #27c7ab;
	color: #fff;
	width: 120px;
	height: 25px;
	border-radius: 7px;
	text-align: center;
	padding-top: 7px;
}


.box_main2{
	width: 330px;
	height: 500px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 60px;
	margin-right: -30px;
	border: 2px solid #27c7ab;
	margin-top: 80px;
	background-color: #27c7ab;
}

.box_main2 > .big_dot{
	background-color: #27c7ab;
	border: 2px solid #27c7ab;
}

.box_main2 > .small_dot{
	background-color: white;
}

.box_main2 > .box_main_title{
	color: #fff;
}

.box_main2 > .big_circle{
	color: #27c7ab;
	border: 2px solid #27c7ab;
} 

.box_main2 > .first_option{
	background-color: #fff;
}

.box_main2 > .second_option{
	background-color: #f1f1f1;
}

.box_main2 > .third_option{
	background-color: #fff;
}

.box_main2 > .button_main{
	background-color: #fff;
	color: #27c7ab;
}

footer{
	width: 100%;
	height: 650px;
	background-color: white;
}

#form{
	width: 700px;
	height: 450px;
	display: inline-block;
}

#form input {
	width: 615px;
	height: 65px;
	border: 1px solid #27c7ab;
	margin-left: 40px;
	margin-top: 25px;
	font-size: 24px;
	padding-left: 20px;
}

#form textarea {
	width: 615px;
	height: 170px;
	border: 1px solid #27c7ab;
	margin-left: 40px;
	margin-top: 25px;
	resize: none;
	font-size: 24px;
	padding-left: 20px;
	padding-top: 20px;
}

#right_footer{
	height: 450px;
	width: 400px;
	float: right;
	padding-right: 50px;
}

#red_chair{
	vertical-align: top;
	padding-left: 50px;
	float: left;
}

#agree{
	width: 400px;
	height: 80px;
	float: left;
	font-size: 20px;
	margin-left: 10px;
	margin-top: 30px;
	margin-bottom: 10px;
}

#form_ok{
	float: left;
	border: 1px solid #27c7ab;
	padding: 5px 5px 3px 0;
	margin-right: 10px;
}

#submit{
	width: 345;
	height: 70;
	background-color: #27c7ab;
	color: #fff;
	float: left;
	font-size: 34px;
	padding: 20px 140px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10px;
}

#foot_of_footer{
	margin-top: 100px;
	width: 100%;
}

#copyright{
	display: inline-block;
	width: 750px;
	float: left;
}

#social_links{
	float: left;
	display: inline-block;
	width: 200px;
}

#footer_logo{
	float: right;
	text-transform: uppercase;
	display: inline-block;
	width: 230px;
	font-size: 20px;
}

#footer_logo > span{
	font-weight: bold;
	display: inline-block;
}